<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>owhack</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>

<div class="container">
    <div class="row">
        <div id="filter">
            <span class="size-toggle size-1" data-lo="0" data-hi="1">
                <span class="icon"></span>
                <label>&lt; 1mm</label>
            </span>
            <span class="size-toggle size-2" data-lo="1" data-hi="10">
                <span class="icon"></span>
                <label>1mm - 1cm</label>
            </span>
            <span class="size-toggle size-3" data-lo="10" data-hi="100">
                <span class="icon"></span>
                <label>1cm - 10cm</label>
                </span>
            <span class="size-toggle size-4" data-lo="100" data-hi="1000">
                <span class="icon"></span>
                <label>10cm - 1m</label>
                </span>
            <span class="size-toggle size-5" data-lo="1000" data-hi="10000">
                <span class="icon"></span>
                <label>1m - 10m</label>
                </span>
            <span class="size-toggle size-6" data-lo="10000" data-hi="100000">
                <span class="icon"></span>
                <label>10m - 100m</label>
                </span>
            <span class="size-toggle size-7" data-lo="100000" data-hi="1000000">
                <span class="icon"></span>
                <label>&gt; 100m</label>
           </span>
        </div> 
    </div>
</div>


<div class="plates-container container">
    <div id="plates"></div>
</div>

<script id="plate-template" type="text/template">
<div class="row">
    <div class="image col-md-8">
        <img src="images/medium/Tafel_<%= plate.zeroPad(plate.key, 3) %>_medium.jpg">
    </div>
    <div class="col-md-4">
        <button class="back-button button">main descrip</button>

        <div class="main-info">
            <h2><%= plate.group_name_haeckel %></h2>
            <h3><%= plate.description %></h3>
        </div>

        <div class="species-list">
        <% _.each(plate.values, function (species) { %>
            <ul class="species-<%= species.figure_number %>" >
                <li class="species-item" data-id="<%= species.figure_number %>"><%= (species.species || "species name") %> </li> 
                <ul>            
                    <li>
                        <span class="size-toggle size-7" data-lo="100000" data-hi="1000000">
                            <span class="icon"></span>
                            <label>&gt; 100m</label>
                       </span>
                       <%= plate.processScale(species.scale) %> </li> 
                    <li><%= (species.description || "species desc") %> </li> 
                    <li><img src="images/modern/<%= (species.modern_photo || "modern photo") %>"> </li> 
                </ul>

            </ul>

        <% }); %>
        </div>
    </div>
</div>
</script>



        <script src="scripts/vendor/jquery/dist/jquery.js"></script>
        <script src="scripts/vendor/underscore/underscore.js"></script>  
        <script src="scripts/vendor/backbone/backbone.js"></script>  
        <script src="scripts/vendor/d3/d3.js"></script>  
         


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->

        <!-- endbower -->
        <!-- endbuild -->


        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
